@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --bg-dark: #00356a;
    --bg-light: hsl(185, 27%, 92%);
    --bg-lightest: #ffffff;
    --bg-darkblue: #00356a;
    --bg-hero: #f0f3f8;
    --bg-icon: #335d88;
    --clr-accent-primary: #ff4040;
    --clr-accent-secondary: #0089ff;
    --clr-pink: #ff57be;
    --clr-unit: #4d0a05;
    --text-dark: #212121;
    --text-light: #ffffff;
    --text-on-dark: #c0c0c3;
    --text-secondary: #b1b7c3;
    --text-muted: #8e9faf;
    --text-label: rgba(255 255 255 / 0.65);
    --border-color-darkbg: #125498;
    --border-color: #d9e1ed;
    --ff-header: "Noto Serif Display", serif;
    --ff-hero-header: "Bebas Neue", sans-serif;
    --ff-subheader: "Barlow", sans-serif;
    --ff-nav: "Quicksand", sans-serif;
    --ff-number: "Barlow", sans-serif;
    --ff-fee: "Libre Bodoni", serif;
    --ff-body: "Lato", sans-serif;
    --shadow-color: rgba(0 0 0 / 0.075);
    --padding: 2em;
    --gap: 2em;
    --pink: hsl(352 64% 51% / 0.3);
    --skyblue: #005f8f;
    --input-height: 50px;
    --input-height-short: 40px;
    --stripe-start: 150px;
    --stripe-thickness: clamp(1em, 10vw + 2em, 5em);
    --gradient-purple: linear-gradient(
      135deg,
      #1f005c,
      #5b0060,
      #870160,
      #ac255e,
      #ca485c,
      #e16b5c,
      #f39060,
      #ffb56b
    );
    --gradient-pink: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    --gradient-gold: linear-gradient(to right, #fdc830, #f37335);
    --gradient-stripe: repeating-linear-gradient(
      160deg,
      var(--bg-light),
      var(--bg-light) 1px,
      var(--bg-lightest) 1px,
      var(--bg-lightest) 4px
    );
    --blue-100: #005f8f;
    --blue-200: #013c80;
    --blue-300: #002472;
    --blue-400: #000b67;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
